@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-primary: #ddd;
    --background-secundary: #eee;
    --background-thirth: #ccc;

    --border-color-primary: #999;

    --foreground: black;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

* {
    text-align: center;
    flex-wrap: wrap;
    word-break: brak-all;    
}

body {
    color: var(--foreground);
    background: var(--background-primary);
    font-family: Arial, Helvetica, sans-serif;

    margin: 12px;
}
